@using Microsoft.JSInterop
@inject IJSRuntime JS
<button>@MyParameter</button>

@code {
    [Parameter]
    public string MyParameter { get; set; } = "Default Value";

    #if !RADZEN
    [Inject]
    #endif
    public MyService MyService { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Call the global function defined in MyScripts.js
            await JS.InvokeVoidAsync("globalFunction");
        }
    }
}
